boto3==1.18.64
pyacoustid==1.2.2
sentence-transformers==2.2.2
tmkpy==0.1.1
torch==1.9.0
transformers>=4.6.0
fastapi==0.68.1
uvicorn[standard]==0.19.0
httpx==0.23.1
huggingface-hub==0.11.0
fasttext==0.9.2
langcodes==3.3.0 
requests==2.31.0
pytest==7.4.0
sentry-sdk==1.30.0
pytorch-lightning==1.5.10
lightning-bolts==0.4.0
torch
torchvision
