transformers==4.38.0
boto3==1.18.64
pyacoustid==1.2.2
sentence-transformers==2.2.2
tmkpy==0.1.1
torch==2.4.0
transformers>=4.6.0
fastapi==0.109.1
uvicorn[standard]==0.19.0
httpx==0.23.1
huggingface-hub==0.19.3
fasttext==0.9.2
langcodes==3.3.0 
requests==2.32.2
pytest==7.4.0
sentry-sdk==2.8.0
yake==0.4.8
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-http==1.24.0
opentelemetry-sdk==1.24.0
redis==5.0.6
pact-python==2.2.0
numpy==1.26.4
protobuf==3.20.2
openai==1.35.6
anthropic==0.31.1
pycld3==0.22
jieba==0.42.1